{% extends 'admin/base.html.twig' %}

{% block head_metatag %}
    <title>{% block title %}Vlogger管理{% endblock %}</title>
  {% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item active">ユーザー一覧</li>
 {% endblock %}

{% block content %}
    <div class="sw-Admin_ContentHeader">
    <h1>ユーザー一覧</h1>
    </div>

    <table class="table sw-Admin_IndexTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>LastLogin</th>
                <th>CreatedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d') : '' }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('admin_user_show', {'id': user.id}) }}">詳細</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
