{% extends 'admin/base.html.twig' %}

{% block title %}ユーザー詳細 | Vlogger管理{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">ユーザー詳細</li>
 {% endblock %}

{% block content %}
    <div class="sw-Admin_ContentHeader">
        <h1 class="sw-Amin_IndexTitle">ユーザー詳細</h1>
        <a href="{{ path('admin_user_edit', {'id': user.id}) }}">編集</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>ユーザー名</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>LastLogin</th>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_user_index') }}">back to list</a>

    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
