{% extends 'admin/base.html.twig' %}

{% block title %}投稿一覧 | Vlogger管理{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">投稿一覧</li>
 {% endblock %}

{% block content %}
    <div class="sw-Admin_ContentHeader">
        <h1 class="sw-Amin_IndexTitle">投稿一覧</h1>
        <a href="{{ path('admin_post_new') }}">新規投稿を作成</a>
    </div>
    <table class="table sw-Amin_IndexTable">
        <thead>
            <tr>
                <th>サムネイル</th>
                <th>タイトル</th>
                <th>ビデオID</th>
                <th>カテゴリー</th>
                <th>次の投稿</th>
                <th>前の投稿</th>
                <th>公開日</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><img src="http://i.ytimg.com/vi/{{ post.video }}/sddefault.jpg" alt="{{ post.title }}"></td>
                <td>{{ post.title }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.category }}</td>
                <td>{% if post.next %}<a href="{{ path('admin_post_show', {'id': post.id}) }}">{{ post.next.title }}</a>{% endif %}</td>
                <td>{% if post.previous %}{{ post.previous.title }}{% endif %}</td>
                <td>{{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-primary mb-1" href="{{ path('admin_post_show', {'id': post.id}) }}">詳細</a>
                    <a class="btn btn-sm btn-info mb-1" href="{{ path('admin_post_edit', {'id': post.id}) }}">編集</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">投稿はございません</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
