{% extends 'admin/base.html.twig' %}

{% block title %}イベント会場一覧 | {{ admin_name }}{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item active">イベント会場一覧</li>
 {% endblock %}


{% block content %}
    <h1>イベント会場一覧</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Map</th>
                <th>Traffic</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for my_event_venue in my_event_venues %}
            <tr>
                <td>{{ my_event_venue.id }}</td>
                <td>{{ my_event_venue.name }}</td>
                <td>{{ my_event_venue.map }}</td>
                <td>{{ my_event_venue.traffic }}</td>
                <td>{{ my_event_venue.address }}</td>
                <td>
                    <a href="{{ path('admin_my_event_venue_show', {'id': my_event_venue.id}) }}">show</a>
                    <a href="{{ path('admin_my_event_venue_edit', {'id': my_event_venue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_my_event_venue_new') }}">Create new</a>
{% endblock %}
