{% extends "base.html.twig" %}

{% block head %}
   <title>{{ category.title }}のvlog動画一覧|video-blogger</title>
   <meta name="description" content="YouTubeに上がっているvlogger(video-blogger)の動画を{{ category.title }}でカテゴライズして見やすく一覧表示しています。">
   <link rel="canonical" href="{{ absolute_url(path('category_index', {'slug': category.slug})) }}">
{% endblock %}

    {% block og %}
       <meta property="og:site_name" content="video-blogger">
       <meta property="og:title" content="{{ category.title }}のvlog動画一覧|video-blooder">
       <meta property="og:description" content="YouTubeに上がっているvlogger(video-blogger)の動画を{{ category.title }}でカテゴライズして見やすく一覧表示しています。">
       <meta property="og:type" content="blog">
       <meta property="og:url" content="{{ url('category_index', {'slug': category.slug}) }}">
       <meta property="og:image" content="">
    {% endblock %}

{% block stylesheet %}
   {{ parent() }}
{% endblock %}

{% block main %}
 <div class="sw-Content_Inner sw-Content_PaddingSm">
<section class="sw-Section">
   <div class="post-Index">
      <div class="post-Index_Inner">
         <h2 class="post-Index_Title">{{ category.title }}vlog一覧</h2>
         <div class="post-Index_Counter"><span>{{ total }}</span>件中 {{ start }}~{{ end }}件</div>
            <div class="post-List">
               {% for post in pagination %}
               <div class="post-Item">
               <a class="post-Item_Link" href="{{ path('post_show', {'category': post.category.slug, 'slug': post.slug}) }}">
               <div class="post-Item_Image">
               <img src="http://i.ytimg.com/vi/{{ post.video }}/sddefault.jpg" alt="{{ post.title }}">
               </div>
               <div class="post-Item_Title">
                  <p>{{ post.title }}</p>
               </div>
               </a>
               {% if post.category %}
               <div class="post-Item_Category">
                  <a href="{{ path('category_index', {'slug': post.category.slug}) }}">{{ post.category }}</a>
               </div>
               {% endif %}
               {# <div class="post-Item_Tag">
                  <div class="post-Item_TagIcon">
                     <i class="fas fa-tags"></i>
                  </div>
                  <ul class="post-Item_TagList">
                     <li class="post-Item_TagItem"><a href="">タグ</a></li>
                     <li class="post-Item_TagItem"><a href="">タグ</a></li>
                     <li class="post-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div> #}
               {% if is_granted('ROLE_USER') %}
               {% set isFavorite = is_favorite(post) %}
               <button type="button" class="post-Item_Favorite {{ isFavorite? 'post-favorited': 'post-favorite' }}"
                  data-add-url="{{ path("add_post_favorite", {id: post.id}) }}"
                  data-remove-url="{{ path("remove_post_favorite", {id: post.id})}}"
               >{{ isFavorite? '<i class="fas fa-star"></i>':'<i class="fas fa-star"></i>' }}</button>
               {% else %}
               <button type="button" class="post-Item_Icon" data-toggle="modal" data-target="#exampleModalCenter"
                  data-add-url="{{ path("add_post_favorite", {id: post.id}) }}"
                  data-remove-url="{{ path("remove_post_favorite", {id: post.id})}}"
               ><i class="fas fa-star"></i></button>
               {% endif %}
            </div>
            {% else %}
            <div>
                <p style="padding:20px 10px 0; font-size: 14px;">現在{{category.title}}vlogの投稿はございません</p>
            </div>
            {% endfor %}
        </div>
        <div class="sw-Content_Pagination">
            {{ knp_pagination_render(pagination, null, {}, {align: "center"}) }}
        </div>
      </div>
   </div>
</section>
</div>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
{% endblock %}