{% extends "base.html.twig" %}

{% block head %}
   <title>vlogトップ</title>
   <meta name="description" content="">
   <link rel="canonical" href="">
{% endblock %}

{% block stylesheet %}
   {{ parent() }}
   <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
{% endblock %}

{% block main %}
<section class="sw-Section">
   <div id="js-Post"></div>
   <div class="movie-Area">
      <div class="movie-Area_Inner">
         <h2 class="movie-Area_Title"><a href="">新しい投稿</a></h2>
         <!-- Slider main container -->
         <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
               <!-- Slides -->
               <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <div class="movie-Item_TagIcon">
                     <i class="fas fa-tags"></i>
                  </div>
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
             <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

         </div>
      </div>
   </div>
   <div class="movie-Area">
      <div class="movie-Area_Inner">
         <h2 class="movie-Area_Title"><a href="">人気の投稿</a></h2>
         <!-- Slider main container -->
         <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
               <!-- Slides -->
               <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <div class="movie-Item_TagIcon">
                     <i class="fas fa-tags"></i>
                  </div>
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
             <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

         </div>
      </div>
   </div>
   <div class="movie-Area">
      <div class="movie-Area_Inner">
         <h2 class="movie-Area_Title"><a href="">各カテゴリ動画一覧</a></h2>
         <!-- Slider main container -->
         <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
               <!-- Slides -->
               <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <div class="movie-Item_TagIcon">
                     <i class="fas fa-tags"></i>
                  </div>
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
             <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
{% endblock %}