<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex">

    {% block head %}
        <title></title>
        <meta name="description" content="">
    {% endblock %}

    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
            <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
    </head>
    <body>
        <div class="sw-Body">
            <div class="sw-Body_Inner">
                    {% if form is defined %}
                        {% form_theme form "form/layout.html.twig" %}
                    {% endif %}
                    <header class="sw-Header js-fixed-header" id="header">
                        {% block header %}
                        <div class="sw-Header_Inner">
                            <div class="sw-Header_Branding">
                                <div class="sw-Header_Logo">
                                    <a class="sw-Header_LogoMark" href="{{ path('default_index') }}">
                                    Vlogger
                                    </a>
                                </div>
                                
                                <div class="sw-Header_MainNavOuter">
                                    <nav class="sw-Header_MainNav">
                                        <div class="sw-Header_MainNavInner">
                                            <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                            </button>
                                            <ul class="sw-Header_MainNavItems">
                                                {% if is_granted('ROLE_USER') %}
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('default_index') }}"><i class="fa fa-address-card"></i><br>マイページ</a></li>
                                                {% else %}
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('fos_user_registration_register') }}">会員登録</a></li>
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('fos_user_security_login') }}">ログイン</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
                    </header>

                <div class="fos-Content">
                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>
        </div> 
    </body>
</html>
