{% extends 'admin/base.html.twig' %}

{% block title %}カテゴリ一覧 | Vlogger管理{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">カテゴリ一覧</li>
 {% endblock %}


{% block content %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>
                    <a href="{{ path('admin_category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_category_new') }}">Create new</a>
{% endblock %}
