{% extends 'admin/base.html.twig' %}

{% block title %}カテゴリ一覧 | Vlogger管理{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">カテゴリ一覧</li>
 {% endblock %}


{% block content %}
    <div class="sw-Admin_ContentHeader">
    <h1>カテゴリ 一覧</h1>
    <a href="{{ path('admin_category_new') }}">カテゴリ作成</a>
    </div>
    <table class="table sw-Admin_IndexTable">
        <thead>
            <tr>
                <th>カテゴリ名</th>
                <th>スラッグ</th>
                <th>親カテゴリ</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>{{ category.slug }}</td>
                <td>{{ category.parent }}</td>                
                <td>
                    <a class="btn btn-sm btn-primary mb-1" href="{{ path('admin_category_show', {'id': category.id}) }}">show</a>
                    <a class="btn btn-sm btn-info mb-1" href="{{ path('admin_category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
