{% extends 'admin/base.html.twig' %}

{% block title %}カテゴリ詳細 | Vlogger管理{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">カテゴリ詳細</li>
 {% endblock %}

{% block content %}
    <div class="sw-Admin_ContentHeader">
    <h1>カテゴリ詳細</h1>
    <a href="{{ path('admin_category_edit', {'id': category.id}) }}">編集</a>
    </div>

    <table class="table sw-Admin_IndexTable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>タイトル</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>スラッグ</th>
                <td>{{ category.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_category_index') }}">back to list</a>

    {{ include('admin/category/_delete_form.html.twig') }}
{% endblock %}
