 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">

        {% set title = 'オミパリ管理 | オミパリ' %}
        <title>{{ title }}</title>
    
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        {% form_theme form "form/layout.html.twig" %}
        
        <header class="admin-Login_Header">
            <p class="admin-Login_HaederText">オミパリ管理</p>
        </header>
        <div class="container admin-Login">
        <h1 class="admin-Login_Title">ログイン</h1>
        <div class="admin-Login_Form">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block">送信</button>
        </div>
        {{ form_end(form) }}
       </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>


