<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
    <head>
    {% if (app.environment == "prod") %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145870192-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-145870192-2');
        </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    {% block head %}
    <title>video-bloggerトップ</title>
    <meta name="description" content="YouTubeに上がっているvlog(video-blogger)の動画をカテゴライズしてまとめたサイトになります。">
    {% endblock %}

    {% block og %}
    <meta property="og:site_name" content="video-blogger">
    <meta property="og:title" content="video-blooderトップ">
    <meta property="og:description" content="YouTubeに上がっているvlogger(video-blogger)の動画をカテゴライズしてまとめたサイトになります。">
    <meta property="og:type" content="blog">
    <meta property="og:url" content="https://video-blogger.com/">
    <meta property="og:image" content="">
    {% endblock %}
    
    {% block twitter %}
    <meta property="fb:app_id" content="App-ID（15文字の半角数字）" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="サイトのURL貼る">
    <meta name="twitter:image" content="ogpのURL貼る">
    {% endblock %}

    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
            <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
    </head>
    <body>
        <div id="sw-Body" class="sw-Body">
            <div class="sw-Body_Inner">

                {% block body %}
                    {% if form is defined %}
                        {% form_theme form "form/layout.html.twig" %}
                    {% endif %}
                    <header class="sw-Header js-fixed-header" id="header">
                        {% block header %}
                        <div class="sw-Header_Inner">
                            <div class="sw-Header_Branding">
                                <div class="sw-Header_Logo">
                                    <a class="sw-Header_LogoMark" href="{{ path('default_index') }}">
                                    Vlogger
                                    </a>
                                </div>
                                
                                <div class="sw-Header_MainNavOuter">
                                    <nav class="sw-Header_MainNav">
                                        <div class="sw-Header_MainNavInner">
                                            <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                            </button>
                                            <ul class="sw-Header_MainNavItems">
                                                {% if is_granted('ROLE_USER') %}
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('mypage_index') }}">マイページ</a></li>
                                                {% else %}
                                                    <li class="sw-Header_MainNavItem"><i class="fas fa-search-plus"></i></li>
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('fos_user_security_login') }}">ログイン</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
                    </header>

                    <main class="sw-Main">
                        <div class="sw-Main_Inner"> 
                            <div class="sw-Content">
                                {% block main %}
                                {% endblock %}
                                <!-- モーダルの設定 -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title sw-Modal_Title" id="exampleModalCenterTitle">お気に入り機能を使うに会員登録が必要です</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">閉じる</button>
                                            <button type="button" class="btn btn-primary btn-sm"><a style="color:#fff; text-decoration: none;" href="{{ path("fos_user_registration_register") }}">無料で会員登録をする</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <aside class="sw-Side">
                                {% block side %}
                                    <div class="sw-Side_Inner">
                                        <ul class="sw-Side_Items">
                                            <li class="sw-Side_Item">
                                               {{ categoryLists()|raw }}
                                            </li>
                                            <li class="sw-Side_Item">
                                                <h3 class="sw-Side_ItemTitle">コンテンツ</h3>
                                                <ul class="sw-Side_ItemLists">
                                                    <li class="sw-Side_ItemList"><a href="{{ path('site_static', {page: "agree"}) }}">お問い合わせ</a></li> 
                                                    <li class="sw-Side_ItemList"><a href="{{ path('site_static', {page: "agree"}) }}">利用規約</a></li> 
                                                    <li class="sw-Side_ItemList"><a href="{{ path('site_static', {page: "pp"}) }}">プライバシーポリシー</a></li> 
                                                </ul>
                                                <ul class="sw-Side_ItemLists">
                                                {% if is_granted('ROLE_USER') %}
                                                    <li class="sw-Side_ItemList"><a href="{{ path('fos_user_security_logout') }}">ログアウト</a></li>
                                                {% else %}
                                                    <li class="sw-Side_ItemList"><a href="{{ path('fos_user_registration_register') }}">無料で会員登録</a></li>
                                                    <li class="sw-Side_ItemList"><a href="{{ path('fos_user_security_login') }}">ログイン</a></li>
                                                {% endif %}
                                                </ul>
                                            </li>
                                        </ul>                  
                                    </div>
                                {% endblock %}
                        </aside>
                        </div>
                    </main>
                    <footer>
                        {% block footer %}
                        <div class="sw-Footer">
                            <div class="sw-Footer_Inner">
                                <a href="#sw-Body" class="sw-Footer_TopLink"><span>▲</span><br>ページトップへ</a>
                            </div>
                        </div>
                        {% endblock %}
                    </footer>
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>