<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    {% set title = 'Vlogger' %}
    {% set description = 'オミパリとは街コンイベント運営会社です。愛知県名古屋を' %}
    {% set canonical = 'canonical' %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{ canonical }}">

    {% block og %}
    <meta property="og:site_name" content="Vlogger">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="サイトのURL貼る">
    <meta property="og:image" content="ogpのURL貼る">
    {% endblock %}
    
    {% block twitter %}
    <meta property="fb:app_id" content="App-ID（15文字の半角数字）" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="サイトのURL貼る">
    <meta name="twitter:image" content="ogpのURL貼る">
    {% endblock %}

    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
            <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
    </head>
    <body>
        <div class="sw-Body">
            {% block alert %}
                    <div class="sw-Alert">
                        {% for key, messages in app.session.flashBag.all %}
                            {% for message in messages %}
                                <div class="alert alert-{{ key }}">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
            {% endblock %}

            <div class="sw-Body_Inner">

                {% block body %}
                    {% if form is defined %}
                        {% form_theme form "form/layout.html.twig" %}
                    {% endif %}
                    <header class="sw-Header">
                        {% block header %}
                        <div class="sw-Header_Inner">
                            <div class="sw-Header_Branding">
                                <div class="sw-Header_Logo">
                                    <p class="sw-Header_Lead">
                                        <strong>Vlog</strong>まとめ
                                    </p>
                                    <a class="sw-Header_LogoMark" href="{{ path('default_index') }}">
                                    Vlogger
                                    </a>
                                </div>
                                
                                <div class="sw-Header_MainNavOuter">
                                    <nav class="sw-Header_MainNav">
                                        <div class="sw-Header_MainNavInner">
                                            <ul class="sw-Header_MainNavItems">
                                                {% if is_granted('ROLE_USER') %}
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('default_index') }}"><i class="fa fa-address-card"></i><br>マイページ</a></li>
                                                {% else %}
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-address-card"></i><br>会員登録</a></li>
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-unlock-alt"></i><br>ログイン</a></li>
                                                {% endif %}
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('site_static', {page: "about"}) }}"><i class="fas fa-leaf"></i><br>ガイド</a></li>
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('site_static', {page: "qa"}) }}"><i class="far fa-question-circle"></i><br>ヘルプ</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
                    </header>

                    <main class="sw-Main">
                        <div class="sw-Main_Inner">
                            <div class="sw-Content">
                                {% block main %}
                                {% endblock %}
                            </div>
                            {# <aside class="sw-Side">
                                {% block side %}
                                    <div class="sw-Side_Inner">
                                        <div class="sw-Side_Keyword">
                                            <h2 class="sw-Side_KeywordTitle">Vloggerを探す</h2>
                                            <ul class="sw-Side_KeywordItems">
                                                <li class="sw-Side_KeywordItem">
                                                    <h3 class="sw-Side_KeywordItemTitle"><i class="fas fa-search"></i> キーワードで探す</h3>
                                                    <ul class="sw-Side_KeywordLists">
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="sw-Side_Items">
                                            <li class="sw-Side_Item">
                                                <h3 class="sw-Side_ItemTitle"><i class="fas fa-sign-in-alt"></i> ログイン</h3>
                                                <ul class="sw-Side_ItemLists">
                                                    {% if is_granted('ROLE_USER') %}
                                                        <li class="sw-Side_ItemList"><a href="{{ path('default_index') }}">マイページ</a></li>
                                                        <li class="sw-Side_ItemList"><a href="{{ path('fos_user_security_logout') }}">ログアウト</a></li>
                                                    {% else %}
                                                        <li class="sw-Side_ItemList"><a href="{{ path('fos_user_registration_register') }}">会員登録</a></li>
                                                        <li class="sw-Side_ItemList"><a href="{{ path('fos_user_security_login') }}">ログイン</a></li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                            <li class="sw-Side_Item">
                                                <h3 class="sw-Side_ItemTitle"><i class="fas fa-bars"></i> コンテンツ</h3>
                                                <ul class="sw-Side_ItemLists">
                                                    <li class="sw-Side_ItemList"><a href="{{ path('site_static', {page: "about"}) }}">ブログ一覧</a></li>
                                                    <li class="sw-Side_ItemList"><a href="{{ path('site_static', {page: "about"}) }}">会場一覧</a></li>  
                                                </ul>
                                            </li>
                                            <li class="sw-Side_Item">
                                                <h3 class="sw-Side_ItemTitle">オミパリとは</h3>
                                                <ul class="sw-Side_ItemLists">
                                                    <li class="sw-Side_ItemList"><a href="{{ path('site_static', {page: "about"}) }}">Vlogまとめについて</a></li>
                                                    <li class="sw-Side_ItemList"><a href="{{ path('site_static', {page: "qa"}) }}">よくある質問</a></li> 
                                                </ul>
                                            </li>
                                        </ul>                  
                                    </div>
                                
                                {% endblock %}
                            </div> #}
                        </aside>
                    </main>

                    <footer class="sw-Footer">
                        {% block footer %}
                            <div class="sw-Footer_Inner">
                                <ul class="sw-Footer_Items">
                                    <li class="sw-Footer_Item">
                                        <p class="sw-Footer_ItemTitle">Vlogコンテンツ</p>
                                        <ul class="sw-Footer_ItemLists">
                                            <li class="sw-Footer_ItemList"><a href="{{ path('default_index') }}">トップ</a></li>
                                            <li class="sw-Footer_ItemList"><a href="{{ path('site_static', {page: "about"}) }}">Vlogger一覧</a></li>
                                            <li class="sw-Footer_ItemList"><a href="{{ path('site_static', {page: "about"}) }}">Vlogger募集</a></li>
                                        </ul>
                                    </li>
                                    <li class="sw-Footer_Item">
                                        <p class="sw-Footer_ItemTitle">利用規約とプライバシー</p>
                                        <ul class="sw-Footer_ItemLists">
                                            <li class="sw-Footer_ItemList"><a href="{{ path('site_static', {page: "about"}) }}">利用規約</a></li>
                                        </ul>
                                    </li>
                                    <li class="sw-Footer_Item">
                                        <p class="sw-Footer_ItemTitle">お困りの時は</p>
                                        <ul class="sw-Footer_ItemLists">
                                            <li class="sw-Footer_ItemList"><a href="{{ path('site_static', {page: "about"}) }}">Vloggerについて</a></li>
                                            <li class="sw-Footer_ItemList"><a href="{{ path('site_static', {page: "guide"}) }}">ご利用ガイド</a></li>
                                            <li class="sw-Footer_ItemList"><a href="{{ path('site_static', {page: "qa"}) }}">よくある質問</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="sw-Footer_Copy"><small>
                                Copyright © 2019 OMIPARI Inc. All Rights Reserved.
                            </small></div>
                            </div>
                        {% endblock %}
                    </footer>

                    {% block javascripts %}
                        {{ encore_entry_script_tags('app') }}

                        <!-- Renders app.js & a webpack runtime.js file
                            <script src="/build/runtime.js"></script>
                            <script src="/build/app.js"></script> -->
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>