{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

    {% block alert %}
    <div class="sw-Alert">
        {% for key, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>                            
    {% endblock %}

                        {% block header %}
                        <div class="sw-Header_Inner">
                            <div class="sw-Header_Branding">
                                <div class="sw-Header_Logo">
                                    <a class="sw-Header_LogoMark" href="{{ path('default_index') }}">
                                    Vlogger
                                    </a>
                                </div>
                                
                                <div class="sw-Header_MainNavOuter">
                                    <nav class="sw-Header_MainNav">
                                        <div class="sw-Header_MainNavInner">
                                            <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                            </button>
                                            <ul class="sw-Header_MainNavItems">
                                                {% if is_granted('ROLE_USER') %}
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('default_index') }}">マイページ</a></li>
                                                {% else %}
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('fos_user_registration_register') }}">会員登録</a></li>
                                                    <li class="sw-Header_MainNavItem"><a href="{{ path('fos_user_security_login') }}">ログイン</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        {% endblock %}

                   
                        {% block main %}
                        {% endblock %}

                        {% block side %}
                        <div class="sw-Side_Inner">
                            <ul class="sw-Side_Items">
                                <li class="sw-Side_Item">
                                    <h3 class="sw-Side_ItemTitle">マイページ</h3>
                                        <ul class="sw-Side_ItemLists">
                                            <li class="sw-Side_ItemList"><a href="{{ path('mypage_index') }}">マイページトップ</a></li>
                                            <li class="sw-Side_ItemList"><a href="{{ path('mypage_favorite')}}">お気に入り</a></li>
                                            <li class="sw-Side_ItemList"><a href="{{ path('mypage_profile') }}">登録情報</a></li>
                                        </ul>
                                </li>
                                <li class="sw-Side_Item">
                                    {{ categoryLists()|raw }}
                                </li>
                            </ul>
                            {% if is_granted('ROLE_USER') %}
                                <ul class="sw-Side_ItemLists">
                                    <li class="sw-Side_ItemList"><a href="{{ path('fos_user_security_logout') }}">ログアウト</a></li>
                                </ul>
                            {% endif %}                
                        </div>                
                        {% endblock %}                                
                                      
        {% block javascripts %}
                {{ parent() }}
        {% endblock %}
  