<div class="post-Index">
      <div class="post-Index_Inner">
         <h2 class="post-Index_Title"><a href="{{ path('category_index', { 'slug': post.category.slug }) }}">同じカテゴリの投稿</a></h2>
            <div class="post-List">
               {% for post in categoryPosts %}
               <div class="post-Item">
               <a class="post-Item_Link" href="{{ path('post_show', {'category': post.category.slug, 'slug': post.slug}) }}">
               <div class="post-Item_Image">
               <img src="http://i.ytimg.com/vi/{{ post.video }}/sddefault.jpg" alt="{{ post.title }}">
               </div>
               <div class="post-Item_Title">
                  <p>{{ post.title }}</p>
               </div>
               </a>
               {% if post.category %}
               <div class="post-Item_Category">
                  <a href="{{ path('category_index', {'slug': post.category.slug}) }}">{{ post.category }}</a>
               </div>
               {% endif %}
               {# <div class="post-Item_Tag">
                  <div class="post-Item_TagIcon">
                     <i class="fas fa-tags"></i>
                  </div>
                  <ul class="post-Item_TagList">
                     <li class="post-Item_TagItem"><a href="">タグ</a></li>
                     <li class="post-Item_TagItem"><a href="">タグ</a></li>
                     <li class="post-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div> #}
            </div>
            {% else %}
            <div>
                <p style="padding:20px 10px 0; font-size: 14px;">現在{{post.category.title}}カテゴリの投稿はございません</p>
            </div>
            {% endfor %}
        </div>
      </div>
   </div>