{% extends "base.html.twig" %}

{% block head %}
   <title>vlogトップ</title>
   <meta name="description" content="">
   <link rel="canonical" href="">
{% endblock %}

{% block stylesheet %}
   {{ parent() }}
{% endblock %}

{% block main %}
<section class="sw-Section">
    <div class="post-Show">
        <div class="post-Show_Inner">
            <div class="post-Show_Movie">
               <div class="post-Show_Movie-sp">
                  <iframe id="ytplayer" type="text/html" width="100%" height="300"
                  src="https://www.youtube.com/embed/{{ post.video }}?autoplay=0&origin=http://example.com"
                  frameborder="0"></iframe>
               </div>
               <div class="post-Show_Movie-pc">
                  <iframe id="ytplayer" type="text/html" width="100%" height="600"
                  src="https://www.youtube.com/embed/{{ post.video }}?autoplay=0&origin=http://example.com"
                  frameborder="0"></iframe>
               </div>
            </div>
            <div class="post-Show_Title">{{ post.title }}</div>
            <div class="post-Show_Content">
               <span class="post-Show_Content-trigger">続きを読む</span>
               <div class="post-Show_Content_Inner">
                  <p>
                     {{ post.content|nl2br }}
                  </p>
               </div>
            </div>
        </div>
    </div>
</section>
<section class="sw-Section">
      {% include 'post/category_post.html.twig' %}
</section>
<section class="sw-Section">
   <div id="js-Post"></div>
   <div class="movie-Area">
      <div class="movie-Area_Inner">
         <h2 class="movie-Area_Title">他にはこんな動画をみています</h2>
         <!-- Slider main container -->
         <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
               <!-- Slides -->
               <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <div class="movie-Item_TagIcon">
                     <i class="fas fa-tags"></i>
                  </div>
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            <div class="movie-Item swiper-slide">
               <div class="movie-Item_Image">
               <img src="{{ asset('images/images.jpg') }}" alt="仮画像">
               </div>
               <div class="movie-Item_Title">
                  <p>動画タイトル動画タイトル</p>
               </div>
               <div class="movie-Item_Category">
                  <a href="">カテゴリ</a>
               </div>
               <div class="movie-Item_Tag">
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
            </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
   <script>
      $(window).on('load resize', function(){
         var winW = $(window).width();
         var devW = 767;
         if (winW <= devW) {
            //767px以下の時の処理
            $(".post-Show_Movie-pc").remove();
         } else {
            //768pxより大きい時の処理
            $(".post-Show_Movie-sp").remove();
         }
      });
      var itemHeights = []; //
      $(function(){
      $(".post-Show_Content_Inner").each(function(){ //ターゲット(縮めるアイテム)
         var thisHeight = $(this).height(); //ターゲットの高さを取得
         itemHeights.push(thisHeight); //それぞれの高さを配列に入れる
         $(this).addClass("is-hide"); //CSSで指定した高さにする
      });
      });

      $(".post-Show_Content-trigger").click(function(){
      var index = $(this).index(".post-Show_Content-trigger"); //トリガーが何個目か
      var addHeight = itemHeights[index]; //個数に対応する高さを取得
      $(this).fadeOut().addClass("is-show").next().animate({height: addHeight},200).removeClass("is-hide"); //高さを元に戻す
      });
   </script>
{% endblock %}