{% extends "base.html.twig" %}

   {% block head %}
    <title>{{ post.title }}|video-blogger</title>
    <meta name="description" content="{{ post.summary }}">
    {% endblock %}

    {% block og %}
    <meta property="og:site_name" content="video-blogger">
    <meta property="og:title" content="{{ post.title }}|video-blooder">
    <meta property="og:description" content="YouTubeに上がっているvlogger(video-blogger)の動画をカテゴライズしてまとめたサイトになります。">
    <meta property="og:type" content="blog">
    <meta property="og:url" content="{{ url('post_show', {'category': post.category.slug, 'slug': post.slug}) }}">
    <meta property="og:image" content="">
    {% endblock %}

{% block stylesheet %}
   {{ parent() }}
{% endblock %}

{% block main %}
 <div class="sw-Content_Inner sw-Content_PaddingMd">
<section class="sw-Section">
    <div class="post-Show">
        <div class="post-Show_Inner">
            <div class="post-Show_Movie">
               <div class="post-Show_Movie-sp">
                  <iframe id="ytplayer" type="text/html" width="100%" height="300"
                  src="https://www.youtube.com/embed/{{ post.video }}?autoplay=0&origin=https://video-blogger.com/"
                  allow="fullscreen"></iframe>
               </div>
               <div class="post-Show_Movie-pc">
                  <iframe id="ytplayer" type="text/html" width="100%" height="600"
                  src="https://www.youtube.com/embed/{{ post.video }}?autoplay=0&origin=https://video-blogger.com"
                  allow="fullscreen"></iframe>
               </div>
            </div>
            <div class="post-Show_Title">{{ post.title }}</div>
            <div class="post-Show_Content">
               <div class="post-Show_Content_Inner">
                  <p>
                     {{ post.content|nl2br }}
                  </p>
               </div>
               <span class="post-Show_Content-trigger">続きを読む</span>
            </div>
        </div>
    </div>
</section>
     <section class="sw-Section">
        {% include 'post/category_post.html.twig' %}
    </section>
    {% set slug = post.slug  %}
     <section class="sw-Section">
      {% set posts = randPosts %}
      {% include 'post/rand_post.html.twig' with posts %}
</section> 
</div>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
   <script>
      $(window).on('load resize', function(){
         var winW = $(window).width();
         var devW = 767;
         if (winW <= devW) {
            //767px以下の時の処理
            $(".post-Show_Movie-pc").remove();
         } else {
            //768pxより大きい時の処理
            $(".post-Show_Movie-sp").remove();
         }
      });
      var itemHeights = []; //
      $(function(){
          $(".post-Show_Content_Inner").each(function(){ //ターゲット(縮めるアイテム)
             var thisHeight = $(this).height(); //ターゲットの高さを取得
             itemHeights.push(thisHeight); //それぞれの高さを配列に入れる
             $(this).addClass("is-hide"); //CSSで指定した高さにする
          });

          $(".post-Show_Content-trigger").click(function(){
              var index = $(this).index(".post-Show_Content-trigger"); //トリガーが何個目か
              var addHeight = itemHeights[index]; //個数に対応する高さを取得
              $(this).fadeOut().addClass("is-show"); //高さを元に戻す
              $(".post-Show_Content_Inner").removeClass("is-hide").next().animate({height: addHeight},200); //高さを元に戻す
          });
      });

   </script>
{% endblock %}