{% extends 'base.html.twig' %}

{% block title %}MyEventSchedule index{% endblock %}

{% block body %}
    <h1>MyEventSchedule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>WomanLimit</th>
                <th>ManLimit</th>
                <th>EventDay</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for my_event_schedule in my_event_schedules %}
            <tr>
                <td>{{ my_event_schedule.id }}</td>
                <td>{{ my_event_schedule.womanLimit }}</td>
                <td>{{ my_event_schedule.manLimit }}</td>
                <td>{{ my_event_schedule.eventDay ? my_event_schedule.eventDay|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ my_event_schedule.createdAt ? my_event_schedule.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ my_event_schedule.updatedAt ? my_event_schedule.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('my_event_schedule_show', {'id': my_event_schedule.id}) }}">show</a>
                    <a href="{{ path('my_event_schedule_edit', {'id': my_event_schedule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('my_event_schedule_new') }}">Create new</a>
{% endblock %}
