{% extends "base.html.twig" %}

{% set title = 'オミパリトップページ' %}
{% set description = 'オミパリとは街コンイベント運営会社です。愛知県名古屋を' %}
{% set canonical = 'canonical' %}

{% block main %}
    <div class="myde-Content">
    <h1 class="myde-Content_Title">ユーザー情報</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>氏名</th>
                    <td>{{ detail.firstName }}　{{ detail.lastName }}</td>
                </tr>
                <tr>
                    <th>氏名カナ</th>
                    <td>{{ detail.firstKana }}　{{ detail.lastKana }}</td>
                </tr>
                {# <tr>
                    <th>性別</th>
                    <td>{{ detail.gender }}</td>
                </tr> #}
                <tr>
                    <th>電話番号</th>
                    <td>{{ detail.telNumber }}</td>
                </tr>
            </tbody>
        </table>

        <div class="my-Content_Inner">
            <ul class="my-Content_List">
                <li class="my-Content_Item">
                    <a href="">イベント申し込み</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">参加したイベント</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">パスワード変更</a>
                </li>
                <li class="my-Content_Item">
                    <a href="">メールアドレス変更</a>
                </li>
                 <li class="my-Content_Item">
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
