{% for category in categories %}     
    {% if not category.posts is empty %}         
   <div class="movie-Area">
      <div class="movie-Area_Inner">
         <h2 class="movie-Area_Title"><a href="{{ path('category_index', { 'slug': category.slug }) }}">カテゴリの{{ category.title }}の投稿</a></h2>
         <!-- Slider main container -->
         <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
               <!-- Slides -->
               {% for post in category.posts %}
               <div class="movie-Item swiper-slide">
               <a class="movie-Item_Link" href="{{ path('post_show', {'category': post.category.slug, 'slug': post.slug}) }}">
               <div class="movie-Item_Image">
               <img src="http://i.ytimg.com/vi/{{ post.video }}/sddefault.jpg" alt="{{ post.title }}">
               </div>
               <div class="movie-Item_Title">
                  <p>{{ post.title }}</p>
               </div>
               </a>
               {% if post.category %}
               <div class="movie-Item_Category">
                  <a href="{{ path('category_index', {'slug': post.category.slug}) }}">{{ post.category }}</a>
               </div>
               {% endif %}
               <div class="movie-Item_Tag">
                  <div class="movie-Item_TagIcon">
                     <i class="fas fa-tags"></i>
                  </div>
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div>
               {% if is_granted('ROLE_USER') %}
               {% set isFavorite = is_favorite(post) %}
               <button type="button" class="post-Item_Favorite {{ isFavorite? 'post-favorited': 'post-favorite' }}"
                  data-add-url="{{ path("add_post_favorite", {id: post.id}) }}"
                  data-remove-url="{{ path("remove_post_favorite", {id: post.id})}}"
               >{{ isFavorite? '<i class="fas fa-bookmark"></i>':'<i class="fas fa-bookmark"></i>' }}</button>
               {% else %}

               {% endif %}
            </div>
            {% else %}
            <div>
                <p style="padding:20px 10px 0; font-size: 14px;">現在カテゴリ{{ category.title }}の投稿はございません</p>
            </div>
            {% endfor %}
            </div>

            <!-- If we need navigation buttons -->
            {# <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> #}
         </div>
      </div>
   </div>
   {% endif %}
   {% endfor %}