<div class="movie-Area">
      <div class="movie-Area_Inner">
         <div class="movie-Area_Header">
         <h2 class="movie-Area_Title">新しい投稿</h2>
         <h3 class="movie-Area_Link"><a href="{{ path('post_index') }}">View More<i class="fa fa-caret-right"></i></a></h3>
         </div>
         <!-- Slider main container -->
         <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
               <!-- Slides -->
               {% for post in posts %}
               <div class="movie-Item swiper-slide">
               <a class="movie-Item_Link" href="{{ path('post_show', {'category': post.category.slug, 'slug': post.slug}) }}">
               <div class="movie-Item_Image">
               <img src="http://i.ytimg.com/vi/{{ post.video }}/sddefault.jpg" alt="{{ post.title }}">
               </div>
               <div class="movie-Item_Title">
                  <p>{{ post.title }}</p>
               </div>
               </a>
               {% if post.category %}
               <div class="movie-Item_Category">
                  <a href="{{ path('category_index', {'slug': post.category.slug}) }}">{{ post.category }}</a>
               </div>
               {% endif %}
               {# <div class="movie-Item_Tag">
                  <div class="movie-Item_TagIcon">
                     <i class="fas fa-tags"></i>
                  </div>
                  <ul class="movie-Item_TagList">
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                     <li class="movie-Item_TagItem"><a href="">タグ</a></li>
                  </ul>
               </div> #}
               {% if is_granted('ROLE_USER') %}
               {% set isFavorite = is_favorite(post) %}
               <button type="button" class="post-Item_Favorite {{ isFavorite? 'post-favorited': 'post-favorite' }}"
                  data-add-url="{{ path("add_post_favorite", {id: post.id}) }}"
                  data-remove-url="{{ path("remove_post_favorite", {id: post.id})}}"
               >{{ isFavorite? '<i class="fas fa-star"></i>':'<i class="fas fa-star"></i>' }}</button>
               {% else %}
               <button type="button" class="post-Item_Icon" data-toggle="modal" data-target="#exampleModalCenter"
                  data-add-url="{{ path("add_post_favorite", {id: post.id}) }}"
                  data-remove-url="{{ path("remove_post_favorite", {id: post.id})}}"
               ><i class="fas fa-star"></i></button>
               {% endif %}
            </div>
            {% else %}
            <div>
                <p style="padding:20px 10px 0; font-size: 14px;">現在投稿はございません</p>
            </div>
            {% endfor %}
            </div>

            <!-- If we need navigation buttons -->
            {# <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> #}

         </div>
      </div>
   </div>